In [7]:
import sqlite3
import random
import re

In [8]:
# DATABASE SETUP


conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER,
    city TEXT,
    occupation TEXT,
    salary INTEGER
)
''')

names = ["Alice", "Bob", "Charlie", "Dante", "Eva", "Mia", "Liam", "Noah", "Sophia", "Ava"]
cities = ["New York", "Paris", "Los Angeles", "London", "Tokyo", "Berlin", "Istanbul"]
occupations = ["Engineer", "Doctor", "Designer", "Teacher", "Hacker", "Analyst", "Researcher"]

for _ in range(150):
    cursor.execute(
        "INSERT INTO users (name, age, city, occupation, salary) VALUES (?, ?, ?, ?, ?)",
        (
            random.choice(names),
            random.randint(18, 65),
            random.choice(cities),
            random.choice(occupations),
            random.randint(30000, 150000)
        )
    )
conn.commit()

In [9]:
# CITY NORMALIZATION
CITY_SYNONYMS = {
    "nyc": "New York",
    "la": "Los Angeles",
    "tok": "Tokyo"
}

def normalize_city(city):
    city = city.strip().title()
    return CITY_SYNONYMS.get(city.lower(), city)

In [10]:
def nlq_to_sql(text: str) -> str:
    original = text
    t = text.lower()
    conditions = []
    select = "*"
    order = ""
    limit = ""

    # ----------------------------------------
    # SELECT detection
    # ----------------------------------------
    if any(phrase in t for phrase in ["average age", "avg age", "mean age"]):
        select = "AVG(age)"
    elif any(phrase in t for phrase in ["count", "how many", "number of"]):
        select = "COUNT(*)"
    elif any(phrase in t for phrase in ["names", "name of", "who are"]):
        select = "name"
    elif "salary" in t and ("average" in t or "avg" in t or "mean" in t):
        select = "AVG(salary)"
    elif ("salary" in t or "salaries" in t) and ("sum" in t or "total" in t):
        select = "SUM(salary)"
    elif "salaries" in t or ("salary" in t and select == "*"):
        select = "salary"

    # ----------------------------------------
    # OCCUPATIONS
    # ----------------------------------------
    occ_pattern = r"\b(engineer|doctor|designer|teacher|hacker|analyst|researcher)s?\b"
    occ_matches = re.findall(occ_pattern, t)

    if occ_matches:
        occupations = sorted({o.capitalize() for o in set(occ_matches)})
        if len(occupations) == 1:
            conditions.append(f"occupation = '{occupations[0]}'")
        else:
            joined = ", ".join(f"'{o}'" for o in occupations)
            conditions.append(f"occupation IN ({joined})")

        # Remove occupation words to avoid interfering with city parsing
        for occ in set(occ_matches):
            t = re.sub(rf"\b{occ}s?\b", "", t)

    # ----------------------------------------
    # CITY PARSING – now supports multiple cities with "and"
    # ----------------------------------------
    # First, remove known filter keywords so they don't interfere
    filter_keywords = [
        "older", "younger", "between", "salary", "with", "sort", "order",
        "top", "limit", "average", "avg", "count", "how many", "name", "names"
    ]
    temp_t = t
    for kw in filter_keywords:
        temp_t = re.sub(rf"\b{kw}\b", " _FILTER_ ", temp_t)

    # Extract everything after "from"
    from_part = re.search(r"\bfrom\s+(.+)", temp_t)
    cities = []

    if from_part:
        city_text = from_part.group(1)

        # Split on "and" or commas, but respect boundaries
        candidates = re.split(r'\s+and\s+|\s*,\s*', city_text)
        for cand in candidates:
            cand = cand.strip()
            if cand and not cand.startswith("_filter_"):
                # Extract clean city name (stop before next filter keyword)
                clean = re.sub(r"_filter_.*", "", cand).strip()
                if clean:
                    norm_city = normalize_city(clean)
                    if norm_city:
                        cities.append(norm_city)

    if cities:
        if len(cities) == 1:
            conditions.append(f"city = '{cities[0]}'")
        else:
            joined = ", ".join(f"'{c}'" for c in cities)
            conditions.append(f"city IN ({joined})")

    # ----------------------------------------
    # AGE filters
    # ----------------------------------------
    if match := re.search(r"older than (\d+)", t):
        conditions.append(f"age > {match.group(1)}")
    if match := re.search(r"younger than (\d+)", t):
        conditions.append(f"age < {match.group(1)}")
    if match := re.search(r"between (\d+) and (\d+)", t):
        a, b = match.groups()
        conditions.append(f"age BETWEEN {min(int(a), int(b))} AND {max(int(a), int(b))}")

    # ----------------------------------------
    # SALARY filters
    # ----------------------------------------
    if match := re.search(r"salary over (\d+)", t):
        conditions.append(f"salary > {match.group(1)}")
    if match := re.search(r"salary (?:under|below) (\d+)", t):
        conditions.append(f"salary < {match.group(1)}")
    if match := re.search(r"salary (?:above|greater than) (\d+)", t):
        conditions.append(f"salary > {match.group(1)}")

    # ----------------------------------------
    # ORDER / SORT
    # ----------------------------------------
    if re.search(r"\b(sort|order)\b.+age", t):
        order = " ORDER BY age"
        if re.search(r"\bdescending|desc|highest|oldest", t):
            order += " DESC"
        else:
            order += " ASC"  # default to ASC if not specified

    if re.search(r"\b(sort|order)\b.+salary", t):
        order = " ORDER BY salary"
        if re.search(r"\bdescending|desc|highest", t):
            order += " DESC"

    # ----------------------------------------
    # LIMIT (“top N”, “first N”, etc.)
    # ----------------------------------------
    if match := re.search(r"\b(top|first|limit)\s+(\d+)", t):
        limit = f" LIMIT {match.group(2)}"

    # ----------------------------------------
    # FINAL SQL
    # ----------------------------------------
    sql = f"SELECT {select} FROM users"
    if conditions:
        sql += " WHERE " + " AND ".join(conditions)
    sql += order + limit

    return sql.strip()

In [11]:
while True:
    q = input("Query: ")
    if q.lower().strip() == "exit":
        break
    elif q == "":
        continue

    sql = nlq_to_sql(q)
    print(f"\nNLQ: {q}")
    print(f"SQL: {sql}")

    cursor.execute(sql)
    result = cursor.fetchall()
    print("Result:", result, "\n")

NLQ: list users
SQL: SELECT * FROM users
Result: [(1, 'Mia', 23, 'Los Angeles', 'Engineer', 119046), (2, 'Mia', 44, 'New York', 'Engineer', 140029), (3, 'Eva', 26, 'New York', 'Doctor', 107244), (4, 'Dante', 26, 'New York', 'Hacker', 45349), (5, 'Ava', 42, 'Los Angeles', 'Doctor', 96108), (6, 'Liam', 40, 'Istanbul', 'Researcher', 46014), (7, 'Bob', 63, 'Berlin', 'Analyst', 85439), (8, 'Eva', 40, 'Tokyo', 'Analyst', 39449), (9, 'Alice', 61, 'Istanbul', 'Hacker', 136931), (10, 'Liam', 38, 'Tokyo', 'Researcher', 114666), (11, 'Alice', 53, 'Paris', 'Teacher', 48454), (12, 'Bob', 49, 'Istanbul', 'Doctor', 62052), (13, 'Mia', 47, 'New York', 'Hacker', 50714), (14, 'Ava', 34, 'London', 'Doctor', 51573), (15, 'Eva', 30, 'New York', 'Designer', 66587), (16, 'Dante', 60, 'Tokyo', 'Doctor', 66427), (17, 'Noah', 58, 'Berlin', 'Doctor', 98845), (18, 'Mia', 24, 'London', 'Designer', 144175), (19, 'Noah', 53, 'London', 'Doctor', 87932), (20, 'Mia', 46, 'Tokyo', 'Engineer', 114949), (21, 'Noah', 57, 'Istanbul', 'Engineer', 92462), (22, 'Liam', 62, 'Los Angeles', 'Engineer', 138965), (23, 'Dante', 63, 'Tokyo', 'Analyst', 105029), (24, 'Sophia', 55, 'Tokyo', 'Engineer', 47207), (25, 'Mia', 44, 'New York', 'Designer', 114945), (26, 'Mia', 27, 'Paris', 'Analyst', 97000), (27, 'Bob', 61, 'London', 'Analyst', 132907), (28, 'Liam', 30, 'New York', 'Engineer', 98312), (29, 'Dante', 39, 'Istanbul', 'Designer', 60170), (30, 'Sophia', 37, 'Los Angeles', 'Teacher', 91070), (31, 'Eva', 36, 'Paris', 'Analyst', 125431), (32, 'Charlie', 21, 'Istanbul', 'Teacher', 144698), (33, 'Noah', 26, 'Berlin', 'Engineer', 129300), (34, 'Noah', 39, 'Istanbul', 'Hacker', 36538), (35, 'Mia', 61, 'Berlin', 'Designer', 131567), (36, 'Liam', 48, 'London', 'Designer', 90459), (37, 'Mia', 50, 'London', 'Researcher', 77573), (38, 'Dante', 60, 'Tokyo', 'Designer', 73459), (39, 'Ava', 27, 'Istanbul', 'Teacher', 34944), (40, 'Mia', 56, 'Tokyo', 'Designer', 109766), (41, 'Liam', 59, 'London', 'Engineer', 41751), (42, 'Sophia', 28, 'Berlin', 'Researcher', 129262), (43, 'Sophia', 29, 'Los Angeles', 'Teacher', 46835), (44, 'Noah', 29, 'New York', 'Researcher', 74875), (45, 'Ava', 52, 'London', 'Engineer', 61110), (46, 'Eva', 42, 'Los Angeles', 'Researcher', 134853), (47, 'Dante', 30, 'Los Angeles', 'Hacker', 110918), (48, 'Mia', 60, 'London', 'Hacker', 127427), (49, 'Charlie', 53, 'Tokyo', 'Researcher', 41312), (50, 'Mia', 60, 'Paris', 'Analyst', 88085), (51, 'Liam', 52, 'New York', 'Researcher', 66909), (52, 'Mia', 42, 'New York', 'Doctor', 43422), (53, 'Bob', 60, 'Berlin', 'Hacker', 120201), (54, 'Dante', 52, 'London', 'Hacker', 149464), (55, 'Liam', 59, 'New York', 'Hacker', 102867), (56, 'Charlie', 19, 'Paris', 'Researcher', 95349), (57, 'Alice', 48, 'Los Angeles', 'Analyst', 42185), (58, 'Alice', 32, 'Istanbul', 'Designer', 128367), (59, 'Charlie', 44, 'Berlin', 'Hacker', 77256), (60, 'Noah', 46, 'London', 'Analyst', 132598), (61, 'Mia', 35, 'Los Angeles', 'Doctor', 80624), (62, 'Noah', 45, 'Berlin', 'Researcher', 118268), (63, 'Bob', 57, 'Paris', 'Analyst', 102307), (64, 'Ava', 25, 'Paris', 'Doctor', 33188), (65, 'Noah', 33, 'Paris', 'Doctor', 128669), (66, 'Charlie', 19, 'Paris', 'Hacker', 58309), (67, 'Sophia', 20, 'New York', 'Analyst', 123408), (68, 'Charlie', 27, 'Istanbul', 'Teacher', 75407), (69, 'Bob', 47, 'Berlin', 'Engineer', 105315), (70, 'Charlie', 61, 'Istanbul', 'Researcher', 137590), (71, 'Charlie', 49, 'London', 'Hacker', 109532), (72, 'Dante', 51, 'Tokyo', 'Engineer', 78251), (73, 'Mia', 32, 'Paris', 'Researcher', 123331), (74, 'Eva', 65, 'Los Angeles', 'Doctor', 111055), (75, 'Bob', 27, 'Los Angeles', 'Doctor', 53605), (76, 'Ava', 49, 'Los Angeles', 'Analyst', 61361), (77, 'Sophia', 46, 'New York', 'Hacker', 43534), (78, 'Noah', 41, 'Tokyo', 'Teacher', 141572), (79, 'Sophia', 64, 'London', 'Hacker', 123994), (80, 'Dante', 26, 'Tokyo', 'Researcher', 87059), (81, 'Ava', 46, 'Istanbul', 'Doctor', 72655), (82, 'Liam', 35, 'Istanbul', 'Engineer', 107623), (83, 'Liam', 35, 'London', 'Hacker', 36027), (84, 'Sophia', 61, 'Tokyo', 'Doctor', 118917), (85, 'Dante', 23, 'New York', 'Researcher', 149496), (86, 'Alice', 50, 'New York', 'Designer', 111859), (87, 'Sophia', 26, 'Berlin', 'Analyst', 149107), (88, 'Bob', 20, 'London', 'Analyst', 52990), (89, 'Liam', 42, 'Berlin', 'Engineer', 85310), (90, 'Noah', 48, 'Paris', 'Designer', 137053), (91, 'Ava', 48, 'Tokyo', 'Doctor', 70674), (92, 'Dante', 63, 'Tokyo', 'Hacker', 119799), (93, 'Sophia', 24, 'Paris', 'Designer', 124193), (94, 'Mia', 58, 'London', 'Doctor', 144590), (95, 'Alice', 23, 'Paris', 'Engineer', 79590), (96, 'Noah', 24, 'Los Angeles', 'Researcher', 67400), (97, 'Mia', 62, 'Paris', 'Teacher', 63491), (98, 'Dante', 56, 'Berlin', 'Engineer', 73064), (99, 'Mia', 30, 'New York', 'Analyst', 115189), (100, 'Liam', 28, 'London', 'Researcher', 114781), (101, 'Eva', 42, 'Tokyo', 'Engineer', 131880), (102, 'Charlie', 42, 'Istanbul', 'Engineer', 40930), (103, 'Charlie', 20, 'Tokyo', 'Teacher', 123763), (104, 'Sophia', 25, 'Istanbul', 'Designer', 127706), (105, 'Dante', 62, 'Istanbul', 'Engineer', 72091), (106, 'Dante', 62, 'New York', 'Engineer', 57998), (107, 'Sophia', 25, 'London', 'Doctor', 120213), (108, 'Eva', 54, 'Istanbul', 'Teacher', 120352), (109, 'Ava', 22, 'Los Angeles', 'Researcher', 140139), (110, 'Charlie', 65, 'New York', 'Doctor', 97295), (111, 'Alice', 45, 'Paris', 'Hacker', 92956), (112, 'Charlie', 27, 'Paris', 'Engineer', 78287), (113, 'Liam', 51, 'London', 'Designer', 59913), (114, 'Liam', 57, 'Berlin', 'Doctor', 75355), (115, 'Eva', 41, 'New York', 'Engineer', 37588), (116, 'Dante', 48, 'London', 'Hacker', 81956), (117, 'Liam', 20, 'Los Angeles', 'Engineer', 138662), (118, 'Noah', 33, 'Paris', 'Teacher', 36447), (119, 'Mia', 45, 'Tokyo', 'Hacker', 112878), (120, 'Bob', 57, 'New York', 'Teacher', 53721), (121, 'Noah', 20, 'Paris', 'Designer', 132116), (122, 'Dante', 59, 'Istanbul', 'Researcher', 98812), (123, 'Charlie', 39, 'Berlin', 'Hacker', 143516), (124, 'Bob', 42, 'Los Angeles', 'Teacher', 47409), (125, 'Bob', 62, 'New York', 'Analyst', 38607), (126, 'Liam', 53, 'Istanbul', 'Hacker', 94045), (127, 'Noah', 54, 'Berlin', 'Designer', 79120), (128, 'Charlie', 46, 'Tokyo', 'Engineer', 138358), (129, 'Alice', 44, 'London', 'Doctor', 126744), (130, 'Noah', 33, 'Paris', 'Designer', 120609), (131, 'Eva', 25, 'Paris', 'Teacher', 85763), (132, 'Sophia', 42, 'New York', 'Engineer', 76829), (133, 'Alice', 40, 'New York', 'Designer', 46215), (134, 'Dante', 33, 'Tokyo', 'Engineer', 149346), (135, 'Dante', 43, 'Berlin', 'Researcher', 125429), (136, 'Liam', 63, 'Tokyo', 'Analyst', 116083), (137, 'Bob', 64, 'Istanbul', 'Doctor', 132314), (138, 'Ava', 23, 'New York', 'Hacker', 90939), (139, 'Mia', 63, 'Paris', 'Hacker', 66522), (140, 'Mia', 44, 'Istanbul', 'Designer', 144431), (141, 'Eva', 51, 'London', 'Engineer', 139241), (142, 'Bob', 54, 'Paris', 'Teacher', 100266), (143, 'Bob', 44, 'London', 'Teacher', 140841), (144, 'Ava', 28, 'New York', 'Designer', 102748), (145, 'Mia', 53, 'Paris', 'Doctor', 124727), (146, 'Charlie', 23, 'London', 'Teacher', 79678), (147, 'Dante', 44, 'Istanbul', 'Teacher', 73904), (148, 'Ava', 65, 'Paris', 'Designer', 91493), (149, 'Bob', 46, 'Los Angeles', 'Engineer', 110126), (150, 'Bob', 62, 'New York', 'Doctor', 102027)]


NLQ: doctors from la
SQL: SELECT * FROM users WHERE occupation = 'Doctor' AND city = 'Los Angeles'
Result: [(5, 'Ava', 42, 'Los Angeles', 'Doctor', 96108), (61, 'Mia', 35, 'Los Angeles', 'Doctor', 80624), (74, 'Eva', 65, 'Los Angeles', 'Doctor', 111055), (75, 'Bob', 27, 'Los Angeles', 'Doctor', 53605)]


NLQ: average salary of doctors from tokyo
SQL: SELECT AVG(salary) FROM users WHERE occupation = 'Doctor' AND city = 'Tokyo'
Result: [(85339.33333333333,)]


NLQ: list doctors and hackers older than 30
SQL: SELECT * FROM users WHERE occupation IN ('Doctor', 'Hacker') AND age > 30
Result: [(5, 'Ava', 42, 'Los Angeles', 'Doctor', 96108), (9, 'Alice', 61, 'Istanbul', 'Hacker', 136931), (12, 'Bob', 49, 'Istanbul', 'Doctor', 62052), (13, 'Mia', 47, 'New York', 'Hacker', 50714), (14, 'Ava', 34, 'London', 'Doctor', 51573), (16, 'Dante', 60, 'Tokyo', 'Doctor', 66427), (17, 'Noah', 58, 'Berlin', 'Doctor', 98845), (19, 'Noah', 53, 'London', 'Doctor', 87932), (34, 'Noah', 39, 'Istanbul', 'Hacker', 36538), (48, 'Mia', 60, 'London', 'Hacker', 127427), (52, 'Mia', 42, 'New York', 'Doctor', 43422), (53, 'Bob', 60, 'Berlin', 'Hacker', 120201), (54, 'Dante', 52, 'London', 'Hacker', 149464), (55, 'Liam', 59, 'New York', 'Hacker', 102867), (59, 'Charlie', 44, 'Berlin', 'Hacker', 77256), (61, 'Mia', 35, 'Los Angeles', 'Doctor', 80624), (65, 'Noah', 33, 'Paris', 'Doctor', 128669), (71, 'Charlie', 49, 'London', 'Hacker', 109532), (74, 'Eva', 65, 'Los Angeles', 'Doctor', 111055), (77, 'Sophia', 46, 'New York', 'Hacker', 43534), (79, 'Sophia', 64, 'London', 'Hacker', 123994), (81, 'Ava', 46, 'Istanbul', 'Doctor', 72655), (83, 'Liam', 35, 'London', 'Hacker', 36027), (84, 'Sophia', 61, 'Tokyo', 'Doctor', 118917), (91, 'Ava', 48, 'Tokyo', 'Doctor', 70674), (92, 'Dante', 63, 'Tokyo', 'Hacker', 119799), (94, 'Mia', 58, 'London', 'Doctor', 144590), (110, 'Charlie', 65, 'New York', 'Doctor', 97295), (111, 'Alice', 45, 'Paris', 'Hacker', 92956), (114, 'Liam', 57, 'Berlin', 'Doctor', 75355), (116, 'Dante', 48, 'London', 'Hacker', 81956), (119, 'Mia', 45, 'Tokyo', 'Hacker', 112878), (123, 'Charlie', 39, 'Berlin', 'Hacker', 143516), (126, 'Liam', 53, 'Istanbul', 'Hacker', 94045), (129, 'Alice', 44, 'London', 'Doctor', 126744), (137, 'Bob', 64, 'Istanbul', 'Doctor', 132314), (139, 'Mia', 63, 'Paris', 'Hacker', 66522), (145, 'Mia', 53, 'Paris', 'Doctor', 124727), (150, 'Bob', 62, 'New York', 'Doctor', 102027)]


NLQ: show names of doctors and hackers older than 20 and salary over 1000
SQL: SELECT name FROM users WHERE occupation IN ('Doctor', 'Hacker') AND age > 20 AND salary > 1000
Result: [('Eva',), ('Dante',), ('Ava',), ('Alice',), ('Bob',), ('Mia',), ('Ava',), ('Dante',), ('Noah',), ('Noah',), ('Noah',), ('Dante',), ('Mia',), ('Mia',), ('Bob',), ('Dante',), ('Liam',), ('Charlie',), ('Mia',), ('Ava',), ('Noah',), ('Charlie',), ('Eva',), ('Bob',), ('Sophia',), ('Sophia',), ('Ava',), ('Liam',), ('Sophia',), ('Ava',), ('Dante',), ('Mia',), ('Sophia',), ('Charlie',), ('Alice',), ('Liam',), ('Dante',), ('Mia',), ('Charlie',), ('Liam',), ('Alice',), ('Bob',), ('Ava',), ('Mia',), ('Mia',), ('Bob',)]

In [12]:
conn.close()